<div class="container-fluid main">
  <% if flash[:notice] == "success" %>
    <div id="success" class="alert alert-success">
      <button id="dismiss" type="button" class="close" aria-hidden="true">&times;</button>
      <p id="success-message">You've been successfully signed up for our Beta release! We will notify you when the Beta release is ready.</p>
    </div>
  <% end %>
  <%= image_tag("logo.png", class: "brand") %>
  <%= render "shared/signup" %>
</div>

<div class="video-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 video-text">
        <p>Is there something you've always wanted to do but don’t have the spare cash to spend on it? Do you have a special skill that others may benefit from? Use Trade-Off. The new way to get what you want.</p>
      </div>
      <div class="col-md-7">
        <%= image_tag('examples.png') %>
      </div>
    </div>
  </div>
</div>
<footer>
  <div id="team-member-container" class="container-fluid">
    <div class="team-member"></div>
    <div class="team-member"></div>
    <div class="team-member"></div>
    <div class="team-member"></div>
  </div>
</footer>