<div class="container-fluid main">
  <div id="success" class="alert alert-success">
    <button id="dismiss" type="button" class="close" aria-hidden="true">&times;</button>
    <p id="success-message"></p>
  </div>
  <%= image_tag("logo.png", class: "brand") %>
  <form id="email-form" class="form-inline subscribe" role="form">
    <p>coming soon...</p>
    <div class="form-group">
      <label class="sr-only" for="email">Email address</label>
      <input id="email" type="email" class="form-control" id="email" placeholder="Enter email for updates" required>
    </div>
    <button id="email-submit" type="submit" class="btn btn-primary">Notify Me</button>
  </form>
</div>

<div class="video-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 placeholder">
        <h1>Video</h1>
      </div>
      <div class="col-md-6 video-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vitae, pariatur, sit temporibus maxime magni modi dolores non perferendis rerum quis quo explicabo deleniti corporis expedita excepturi eos nulla doloribus!</p>
      </div>
    </div>
  </div>
</div>
<footer>
  <div id="team-member-container" class="container-fluid">
    <div class="team-member"></div>
    <div class="team-member"></div>
    <div class="team-member"></div>
    <div class="team-member"></div>
  </div>
</footer>