<div class="container-fluid">
  <div id="search-row" class="row">
    <div class="col-lg-4 col-md-offset-4">
        <input id="query" type="email" class="form-control" required autofocus>
        <button id="btn-search" type="submit" class="btn btn-default">Search</button>
    </div>
  </div>

  <div class="filter-container">
    <span id="filter-label">Filters:</span>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
    <div class="filter"></div>
  </div>

  <div class="results-container">
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
    <div class="result">
      <div class="placeholder-img"></div>
    </div>
  </div>
</div>