<div class="container-fluid">
  <div id="search-headline-container">
    <p id="search-headline">search the database for what trade-offers can offer you</p>
  </div>
</div>
  <div id="search-row" class="row">
    <div class="col-lg-6 col-md-offset-3">
        <form id="search-form">
          <input id="query" type="text" class="form-control" required autofocus>
          <button id="btn-search" type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
  </div>

  <div class="filter-container">
    <span id="filter-label">Filters:</span>
    <div class="filter all">all</div>
    <div class="filter skill">skill</div>
    <div class="filter food">food</div>
    <div class="filter housing">housing</div>
    <div class="filter education">education</div>
    <div class="filter performance">performance</div>
    <div class="filter art">art</div>
  </div>

  <div class="results-container">
    <% @provisions.each do |provision| %>
      <div class="result <%= provision.category.name %>">
        <%= gravatar_image_tag(provision.user.email, class: "placeholder-img" ) %>
        <p><%= provision.description %></p>
      </div>
    <% end %>
  </div>
</div>