body {
  text-align: center;
}

.brand {
  height: 150px;
}

#about-us {
  font-size: 32px;
}

#success {
  display: none;
}

.placeholder {
  height: 300px;
  width: 600px;
  background-color: #add8e6;
  display: table;
}

.placeholder h1 {
  display: table-cell;
  vertical-align: middle;
}

.subscribe {
  padding: 20px 0 60px 0;
}

.video-container {
  padding: 60px;
  background-color: #F1F6F9;
}

.video {
  // height: 650px;
  background-color: #F1F6F9;
  padding-bottom: 80px;
}

.video-text {
  text-align: left;
  font-size: 24px;
}

footer {
  width: 100%;
  background-color: #00C6D4;

  #team-member-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    min-height: 800px;

    .team-member {
      height: 200px;
      width: 200px;
      background-color: white;
      border-radius: 50%;
    }
  }
}