body {
  text-align: center;
}

.navbar-header {
  height: 100px;
}

.brand {
  height: 80px;
  margin-top: -8px;
}

#about-us {
  font-size: 32px;
}

.placeholder {
  height: 300px;
  width: 600px;
  background-color: #add8e6;
  margin: 50px auto;
  display: table;
}

.placeholder h1 {
  display: table-cell;
  vertical-align: middle;
}

.subscribe {
  padding: 60px 0;
}

.main {
  height: 650px;
}

footer {
  width: 100%;
  background-color: #3f4944;

  #team-member-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    min-height: 800px;

    .team-member {
      height: 200px;
      width: 200px;
      background-color: white;
      border-radius: 50%;
    }
  }
}