body {
  text-align: center;
}

.brand {
  margin-top: 60px;
  height: 150px;
}

#about-us {
  font-size: 32px;
}

// #success {
//   display: none;
// }

.placeholder {
  height: 300px;
  width: 600px;
  background-color: #add8e6;
  display: table;
}

.placeholder h1 {
  display: table-cell;
  vertical-align: middle;
}

.subscribe {
  padding: 20px 0 60px 0;
}

.video-container {
  // display: none;
  padding: 60px;
  background-color: #F1F6F9;

  img {
    width: 100%
  }
}

.video {
  // height: 650px;
  background-color: #F1F6F9;
  padding-bottom: 80px;
}

.video-text {
  text-align: left;
  font-size: 24px;

  p {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
}

footer {
  display: none !important;
  width: 100%;
  background-color: #00C6D4;

  #team-member-container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    min-height: 800px;

    .team-member {
      height: 200px;
      width: 200px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

#query {
  width: 500px;
  display: inline-block;
}

#search-row {
  margin: 20px 0;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  text-transform: uppercase;
  color: white;

  #filter-label {
    color: black;
    line-height: 30px;
  }

  .filter {
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
  }
}

.results-container {
  // display: flex;
  // justify-content: space-between;
  // flex-flow: row wrap;
  width: 980px;
  margin: 0 auto;

  .result {
    height: 220px;
    width: 220px;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
    vertical-align: top;

    .placeholder-img {
      background-color: white;
      margin: 30px auto;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }

}

#search-headline-container {
  margin: 0 auto;
  width: 600px;

  #search-headline {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 100;
    width: 600px;
    color: #666;
  }
}

.skill {
  background-color: purple;
}

.food {
  background-color: green;
}

.housing {
  background-color: blue;
}

.education {
  background-color: orange;
}

.performance {
  background-color: red;
}

.art {
  background-color: magenta;
}

.all {
  background-color: gray;
}

.other {
  background-color: yellow;
}

#form-signup {
  border: 1px solid black;
  border-radius: 10px;
  width: 480px;
  margin: 40px auto 40px auto;
  padding: 10px;
  overflow: hidden;

  h1 {
    margin-bottom: 40px;
  }

  #provision {
    width: 50%;
    display: inline-block;
  }

  #category {
    width: 48%;
  }

  h1 {
    color: #C9C9C9;
  }
}

.nav-links {
  margin-top: 10px !important;

  a {
    font-size: 24px;
  }
}

.profile {
  text-align: left;

  .left-column {
    margin-top: 25px;
  }

  .avatar {
    margin-bottom: 20px;
  }

  h3 {
    display: inline-block;
  }

  textarea.form-control {
    margin-top: 40px;
    width: 80%;
  }

  button[type="submit"] {
    margin-left: 20px;
  }

}

#not-logged-in {
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: 2;
}

.modal {
  text-align: center;
  font-size: 24px;

  #form-signup {
    display: none;
  }
}


